<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>答题</title>
    <link rel="stylesheet" href="/css/style_q_set.css">
</head>
<body>
<header>
    <h1>答题</h1>
</header>
<main>
    <div id="quizIdContainer">
        当前题库ID: <span id="quizIdText" th:text="${quizId}"></span>
    </div>
    <div id="questions-container"></div>
    <form id="quizForm">
        <!-- 问题将通过JavaScript动态加载 -->
    </form>
    <button id="submitBtn" type="submit" form="quizForm">提交答案</button>
</main>
<script src="/js/script_question_set.js" defer></script>
</body>
</html>
